@{
     Layout = null;
}
@using System.Web.Optimization
@model MRSUTW.Models.User

<!DOCTYPE html>

<html>
<head>
     <meta charset="UTF-8">
     <meta name="description" content="Gym Template">
     <meta name="keywords" content="Gym, unica, creative, html">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Gym | Template</title>

     <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">
     @Scripts.Render("~/bundles/jquery-3.3.1/js")
     @Scripts.Render("~/bundles/jquery.magnific-popup/js")
     @Scripts.Render("~/bundles/jquery-barfiller/js")
     @Scripts.Render("~/bundles/jquery-slicknav/js")
     <script type="text/javascript">
        $(document).ready(function () {
            $("#info_tab").click(function () {
                $("#info_tab").addClass("active");
                $("#contacts_tab").removeClass("active");
                $("#my_info_container").show();
                $("#contacts_container").hide();
            });

            $("#contacts_tab").click(function () {
                $("#info_tab").removeClass("active");
                $("#contacts_tab").addClass("active");
                $("#my_info_container").hide();
                $("#contacts_container").show();
            });

            $("#activate_edit").click(function () {
                var editActive = $(this).data('editActive');
                if (!editActive) {
                    $(".profile-info-item-value").prop("disabled", false);
                    $("#activate_edit").css("background", "#16791A");
                    $("#activate_edit_text").text("Save changes");
                    $(this).attr("type", "submit");
                    $(this).data('editActive', true);
                } else {
                    $(".profile-info-item-value").prop("disabled", true);
                    $("#activate_edit").css("background", "#f07f2d");
                    $("#activate_edit_text").text("Edit profile");
                    $(this).removeAttr("type");
                    $(this).data('editActive', false);
                    $.ajax({
                        url: "/Profile/Index",
                        type: "POST",
                        data: {
                            id: @Model.ID,
                            username: $("#username").val(),
                            identity: $("#identity").val(),
                            age: $("#age").val(),
                            description: $("#description").val(),
                            weight: $("#weight").val(),
                            height: $("#height").val(),
                            email: $("#email").val(),
                        },
                        success: function (result) {
                            console.log(result);
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr.responseText);
                        }
                    });
                }
            });
        });
     </script>


     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/font-awesome/css")
     @Styles.Render("~/bundles/flaticon/css")
     @Styles.Render("~/bundles/owl-carousel/css")
     @Styles.Render("~/bundles/barfiller/css")
     @Styles.Render("~/bundles/magnific-popup/css")
     @Styles.Render("~/bundles/slicknav/css")
     @Styles.Render("~/bundles/style/profile")
</head>
<body>
     <div class="profile">
          <div class="profile-container">
               <a href="@Url.Action("Index", "Home")" class="profile-back">
                    Go back
               </a>
               <div class="profile-header">
                    <div class="profile-header-left">
                         <div class="profile-header-left-avatar-container">
                              <img src="~/img/avatar.svg" alt="" />
                         </div>
                         <div class="profile-header-left-text-container">
                              <div class="profile-header-left-your-account">Your account</div>
                              <div class="profile-header-left-registred">
                                   Registred on @Html.DisplayFor(u => u.Registred)
                              </div>
                         </div>
                    </div>
                    <div class="profile-header-right">
                         <button class="profile-header-right-edit-button" id="activate_edit">
                              <img src="~/img/edit-logo.svg" alt="" />
                              <p id="activate_edit_text">Edit profile</p>
                         </button>
                    </div>
               </div>
               <div class="profile-tabs">
                    <div class="profile-tabs-item active" id="info_tab">My info</div>
                    <div class="profile-tabs-item" id="contacts_tab">Contacts</div>
               </div>
               <div class="profile-info" id="my_info_container">
                    <div class="profile-info-item">
                         <div class="profile-info-item-title">Name</div>
                         <input class="profile-info-item-value"
                                id="username"
                                name="username"
                                type="text"
                                disabled="true"
                                value="@Html.DisplayFor(u => u.Username)" />
                    </div>
                    <div class="profile-info-item">
                         <div class="profile-info-item-title">Identity</div>
                         <input class="profile-info-item-value"
                                id="identity"
                                name="identity"
                                type="text"
                                disabled="true"
                                value="@Html.DisplayFor(u => u.Identity)" />
                    </div>
                    <div class="profile-info-item">
                         <div class="profile-info-item-title">Age</div>
                         <input class="profile-info-item-value"
                                id="age"
                                name="age"
                                type="text"
                                disabled="true"
                                value="@Html.DisplayFor(u => u.Age)" />
                    </div>
                    <div class="profile-info-item large">
                         <div class="profile-info-item-title">Description</div>
                         <textarea class="profile-info-item-value"
                                   id="description"
                                   name="description"
                                   type="text"
                                   disabled="true"
                                   rows="5">@Html.DisplayFor(u => u.Description)</textarea>
                    </div>
                    <div class="profile-info-item">
                         <div class="profile-info-item-title">Weight(kg)</div>
                         <input class="profile-info-item-value"
                                id="weight"
                                name="weight"
                                type="text"
                                disabled="true"
                                value="@Html.DisplayFor(u => u.Weight)" />
                    </div>
                    <div class="profile-info-item">
                         <div class="profile-info-item-title">Height(cm)</div>
                         <input class="profile-info-item-value"
                                id="height"
                                name="height"
                                type="text"
                                disabled="true"
                                value="@Html.DisplayFor(u => u.Height)" />
                    </div>
               </div>
               <div class="profile-info" id="contacts_container" style="display: none">
                    <div class="profile-info-item">
                         <div class="profile-info-item-title">Email</div>
                         <input class="profile-info-item-value"
                                id="email"
                                name="email"
                                type="text"
                                disabled="true"
                                value="@Html.DisplayFor(u => u.Email)" />
                    </div>
               </div>
          </div>
     </div>


     @Scripts.Render("~/bundles/masonry-pkgd/js")
     @Scripts.Render("~/bundles/owl-carousel/js")
     @Scripts.Render("~/bundles/main/js")
     @Scripts.Render("~/bundles/bootstrap/js")
</body>
</html>
