@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] TableHeaders = new string[] {"",
                            "Monday",
                            "Tuesday",
                            "Wednesday",
                            "Thursday",
                            "Friday",
                            "Saturday",
                            "Sunday",
                            "Place"};
}
@using System.Web.Optimization

<!DOCTYPE html>

<html>
<body>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="./../../img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>

                            @if (Request.Cookies["MRSUTW"] != null)
                            {
                                <a href="@Url.Action("Index", "Appointment")" class="primary-btn-new-btn">Appointment</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "SignIn")" class="primary-btn-new-btn">Appointment</a>

                            }
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Class Details Section Begin -->
    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="class-details-text">
                        <div class="cd-pic">
                            <img src="./../../img/classes/class-details/sala-de-sport-utm.jpg" alt="">
                        </div>
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>GYM, Rascani</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua accusantium doloremque
                                    laudantium. Excepteur sint occaecat cupidatat non proident sculpa.
                                </p>
                            </div>
                            <div class="cd-single-item">
                                <h3>Sports Hall, Rascani</h3>
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur officia
                                    deserunt mollit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="sidebar-option">
                        <div class="so-latest">
                            <h5 class="title">Latest news</h5>
                            <div class="latest-large set-bg" data-setbg="./../../img/letest-blog/latest-1.jpeg">
                                <div class="ll-text">
                                    <h5><a href="#">Congratulations to the UTM-DOR team for the 1st place among the Superior Education Institutions</a></h5>
                                    <ul>
                                        <li>Nov 19, 2022</li>
                                        <li>20 Comment</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="latest-large set-bg" data-setbg="./../../img/letest-blog/latest-2.jpg">
                                <div class="ll-text">
                                    <h5><a href="#">Congratulations to Lilian Balan, student IMC-211, Faculty of Energy and Electrical Engineering, UTM</a></h5>
                                    <ul>
                                        <li>Mar 16, 2022</li>
                                        <li>20 Comment</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="latest-large set-bg" data-setbg="./../../img/letest-blog/latest-3.jpg">
                                <div class="ll-text">
                                    <h5><a href="#">Congratulations UTM Rugby Team</a></h5>
                                    <ul>
                                        <li>Sep 21, 2021</li>
                                        <li>20 Comment</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class Details Section End -->
    <!-- Class Timetable Section Begin -->
    <section class="class-timetable-section class-details-timetable spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-details-timetable_title">
                        <h5>Training schedule</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="class-timetable details-timetable">
                        <table>
                            <thead>
                                <tr>
                                    @{
                                        foreach (var head in TableHeaders)
                                        {
                                            <th>
                                                @head
                                            </th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var Data in Model)
                                        {
                                            <tr>
                                                <td class="class-time"><h5>@Data.Prof</h5></td>
                                                @{
                                                    if (@Data.id % 2 == 1)
                                                    {
                                                        if (@Data.Luni != "")
                                                        {
                                                            <td class="dark-bg hover-dp ts-meta">@Data.Luni</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="dark-bg blank-td"></td>
                                                        }
                                                        if (@Data.Marti != "")
                                                        {
                                                            <td class="hover-dp ts-meta">@Data.Marti</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="blank-td"></td>
                                                        }
                                                        if (@Data.Miercuri != "")
                                                        {
                                                            <td class="dark-bg hover-dp ts-meta">@Data.Miercuri</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="dark-bg blank-td"></td>
                                                        }
                                                        if (@Data.Joi != "")
                                                        {
                                                            <td class="hover-dp ts-meta">@Data.Joi</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="blank-td"></td>
                                                        }
                                                        if (@Data.Vineri != "")
                                                        {
                                                            <td class="dark-bg hover-dp ts-meta">@Data.Vineri</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="dark-bg blank-td"></td>
                                                        }
                                                        if (@Data.Sambata != "")
                                                        {
                                                            <td class="hover-dp ts-meta">@Data.Sambata</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="blank-td"></td>
                                                        }
                                                        if (@Data.Duminica != "")
                                                        {
                                                            <td class="dark-bg hover-dp ts-meta">@Data.Duminica</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="dark-bg blank-td"></td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (@Data.Luni != "")
                                                        {
                                                            <td class="hover-dp ts-meta">@Data.Luni</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="blank-td"></td>
                                                        }
                                                        if (@Data.Marti != "")
                                                        {
                                                            <td class="dark-bg hover-dp ts-meta">@Data.Marti</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="dark-bg blank-td"></td>
                                                        }
                                                        if (@Data.Miercuri != "")
                                                        {
                                                            <td class="hover-dp ts-meta">@Data.Miercuri</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="blank-td"></td>
                                                        }
                                                        if (@Data.Joi != "")
                                                        {
                                                            <td class="dark-bg hover-dp ts-meta">@Data.Joi</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="dark-bg blank-td"></td>
                                                        }
                                                        if (@Data.Vineri != "")
                                                        {
                                                            <td class="hover-dp ts-meta">@Data.Vineri</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="blank-td"></td>
                                                        }
                                                        if (@Data.Sambata != "")
                                                        {
                                                            <td class="dark-bg hover-dp ts-meta">@Data.Sambata</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="dark-bg blank-td"></td>
                                                        }
                                                        if (@Data.Duminica != "")
                                                        {
                                                            <td class="hover-dp ts-meta">@Data.Duminica</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="blank-td"></td>
                                                        }

                                                    }
                                                }
                                                <td class="class-time"><h5>@Data.LoculDesfasurarii</h5></td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>