@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<body>
     <section class="pricing-section spad">
          <div class="container">
               <div class="col-lg-12">
                    <div class="section-title">
                         <span>Our team</span>
                         <h2>Trainer's profile</h2>
                    </div>
               </div>
               <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                         <h1 style="color:white;">About me</h1>
                         <h6 style="color:#FF6700;">Gym Trainer</h6>
                         <p>My days are filled with enthusiasm, dedication, and the pursuit of helping individuals achieve their fitness goals. Stepping into the gym each morning, I am greeted by an atmosphere buzzing with energy and determination.</p>
                         <div class="row about-list">
                              <div class="col-md-6">
                                   <div class="media">
                                        <label style="color:gray;">Name:  </label>
                                        <p style="color:white;">Fernard Fachel</p>
                                   </div>
                                   <div class="media">
                                        <label style="color:gray;">Study:</label>
                                        <p style="color:white;">USEFS</p>
                                   </div>
                                   <div class="media">
                                        <label style="color:gray;">E-mail:</label>
                                        <p style="color:white;">fernard@gmail.com</p>
                                   </div>
                                   <div class="media">
                                        <label style="color:gray;">Phone:</label>
                                        <p style="color:white;">060-123-456</p>
                                   </div>
                              </div>
                              <div class="col-md-6">
                                   <div class="media">
                                        <label style="color:gray;">Identify:  </label>
                                        <p style="color:white;">Mle</p>
                                   </div>
                                   <div class="media">
                                        <label style="color:gray;">Age:</label>
                                        <p style="color:white;">26 Yr</p>
                                   </div>
                                   <div class="media">
                                        <label style="color:gray;">Weight(kg):</label>
                                        <p style="color:white;">93</p>
                                   </div>
                                   <div class="media">
                                        <label style="color:gray;">Height(cm):</label>
                                        <p style="color:white;">196</p>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-lg-6">
                         <div class="about-avatar">
                              <img src="./../../img/team/team-3.jpg" title="" alt="">
                         </div>
                    </div>
               </div>
               <div class="counter">
                    <div class="row">
                         <div class="col-6 col-lg-3">
                              <div class="count-data text-center">
                                   <h6 style="color:#FF6700;" class="count h2" data-to="190" data-speed="190">800</h6>
                                   <p class="m-0px font-w-600">Hours practiced</p>
                              </div>
                         </div>
                         <div class="col-6 col-lg-3">
                              <div class="count-data text-center">
                                   <h6 style="color:#FF6700;" class="count h2" data-to="500" data-speed="500">500</h6>
                                   <p class="m-0px font-w-600">Happy Clients</p>
                              </div>
                         </div>
                         <div class="col-6 col-lg-3">
                              <div class="count-data text-center">
                                   <h6 style="color:#FF6700;" class="count h2" data-to="150" data-speed="150">250</h6>
                                   <p class="m-0px font-w-600">Workouts done</p>
                              </div>
                         </div>
                         <div class="col-6 col-lg-3">
                              <div class="count-data text-center">
                                   <h6 style="color:#FF6700;" class="count h2" data-to="850" data-speed="850">40</h6>
                                   <p class="m-0px font-w-600">Diplomas of merit</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     @Scripts.Render("~/bundles/style/css")
     @Scripts.Render("~/bundles/jquery-3.3.1/js")
     @Scripts.Render("~/bundles/jquery.magnific-popup/js")
     @Scripts.Render("~/bundles/masonry-pkgd/js")
     @Scripts.Render("~/bundles/jquery-barfiller/js")
     @Scripts.Render("~/bundles/jquery-slicknav/js")
     @Scripts.Render("~/bundles/owl-carousel/js")
     @Scripts.Render("~/bundles/main/js")
     @Scripts.Render("~/bundles/bootstrap/js")
</body>
</html>