@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> MRSUTW | @ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet" type="text/css">

    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/flaticon/css")
    @Styles.Render("~/bundles/owl-carousel/css")
    @Styles.Render("~/bundles/barfiller/css")
    @Styles.Render("~/bundles/magnific-popup/css")
    @Styles.Render("~/bundles/slicknav/css")
    @Styles.Render("~/bundles/style/css")



    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    @Styles.Render("~/bundles/main/css")

</head>

<body>
    <div class="wrapper">
        <section>
            @RenderBody()
            @Html.Partial("_Header")
         </section>
        <section>
            @Html.Partial("_Footer")
        </section>
        <nav>
            @Html.Partial("_Search")
        </nav>

    </div>


    @Scripts.Render("~/bundles/jquery-3.3.1/js")
    @Scripts.Render("~/bundles/jquery.magnific-popup/js")
    @Scripts.Render("~/bundles/masonry-pkgd/js")
    @Scripts.Render("~/bundles/jquery-barfiller/js")
    @Scripts.Render("~/bundles/jquery-slicknav/js")
    @Scripts.Render("~/bundles/owl-carousel/js")
    @Scripts.Render("~/bundles/main/js")
    @Scripts.Render("~/bundles/bootstrap/js")

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
