@{
    Layout = null;
}
@using System.Web.Optimization
@model MRSUTW.Models.TrainersModel

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym | Template</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    
    <style>
        #train {
            position: fixed;
            cursor: pointer;
            bottom: 0;
            right: 0;
            z-index: 100;
        }
    </style>

    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/flaticon/css")
    @Styles.Render("~/bundles/owl-carousel/css")
    @Styles.Render("~/bundles/barfiller/css")
    @Styles.Render("~/bundles/magnific-popup/css")
    @Styles.Render("~/bundles/slicknav/css")
    @Styles.Render("~/bundles/style/css")
</head>
<body>
     <div class="team-section">
          <div class="container">
               <a class="back-button" href="@Url.Action("Index", "Home")">GYM</a>
               <div class="row">
                    <div class="col-lg-12">
                         <div class="team-title">
                              <div class="section-title">
                                   <span>Echipa noastră</span>
                                   <h2>ANTRENEAZĂ-TE ALĂTURI DE EXPERȚI!</h2>
                              </div>
                              <a href="#" class="primary-btn btn-normal appoinment-btn">programare</a>
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="ts-slider owl-carousel owl-loaded owl-drag">



                         <div class="owl-stage-outer">
                              <div class="owl-stage" style="transform: translate3d(-585px, 0px, 0px); transition: all 1.2s ease 0s; width: 1171px;">
                                   <div class="owl-item cloned" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-4.jpg" style="background-image: url(&quot;./../../img/team/team-4.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item cloned" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-5.jpg" style="background-image: url(&quot;./../../img/team/team-5.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item cloned" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-6.jpg" style="background-image: url(&quot;./../../img/team/team-6.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-1.jpg" style="background-image: url(&quot;./../../img/team/team-1.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-2.jpg" style="background-image: url(&quot;./../../img/team/team-2.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-3.jpg" style="background-image: url(&quot;./../../img/team/team-3.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item active" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-4.jpg" style="background-image: url(&quot;./../../img/team/team-4.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item active" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-5.jpg" style="background-image: url(&quot;./../../img/team/team-5.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item active" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-6.jpg" style="background-image: url(&quot;./../../img/team/team-6.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item cloned" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-1.jpg" style="background-image: url(&quot;./../../img/team/team-1.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item cloned" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-2.jpg" style="background-image: url(&quot;./../../img/team/team-2.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div><div class="owl-item cloned" style="width: 97.556px;">
                                        <div class="col-lg-4">
                                             <div class="ts-item set-bg" data-setbg="./../../img/team/team-3.jpg" style="background-image: url(&quot;./../../img/team/team-3.jpg&quot;);">
                                                  <div class="ts_text">
                                                       <h4>Athart Rachel</h4>
                                                       <span>Gym Trainer</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                    </div>
               </div>
          </div>
     </div>
     
     @Scripts.Render("~/bundles/jquery-3.3.1/js")
     @Scripts.Render("~/bundles/jquery.magnific-popup/js")
     @Scripts.Render("~/bundles/masonry-pkgd/js")
     @Scripts.Render("~/bundles/jquery-barfiller/js")
     @Scripts.Render("~/bundles/jquery-slicknav/js")
     @Scripts.Render("~/bundles/owl-carousel/js")
     @Scripts.Render("~/bundles/main/js")
     @Scripts.Render("~/bundles/bootstrap/js")
</body>
</html>