@{
    Layout = null;
}
@using System.Web.Optimization
@model MRSUTW.Models.TrainersModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym | Template</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    
    <style>
        #train {
            position: fixed;
            cursor: pointer;
            bottom: 0;
            right: 0;
            z-index: 100;
        }
    </style>

    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/font-awesome/css")
    @Styles.Render("~/bundles/flaticon/css")
    @Styles.Render("~/bundles/owl-carousel/css")
    @Styles.Render("~/bundles/barfiller/css")
    @Styles.Render("~/bundles/magnific-popup/css")
    @Styles.Render("~/bundles/slicknav/css")
    @Styles.Render("~/bundles/style/css")
</head>
<body>
     <div class="trainers-container">
          <a class="back-button" href="@Url.Action("Index", "Home")">
              Home
          </a>
          <div class="trainers-form">
               <form>
                    <div class="form-group">
                         <input type="text" id="name" name="name" placeholder="Name:" value="@Html.DisplayFor(t => t.Name)" required>
                    </div>
                    <div class="form-group">
                         <input type="text" id="description" name="description" placeholder="Description:" value="@Html.DisplayFor( t => t.Description)" required>
                    
                    </div>
                </form>
          </div>
     </div>

                    @Scripts.Render("~/bundles/jquery-3.3.1/js")
                    @Scripts.Render("~/bundles/jquery.magnific-popup/js")
                    @Scripts.Render("~/bundles/masonry-pkgd/js")
                    @Scripts.Render("~/bundles/jquery-barfiller/js")
                    @Scripts.Render("~/bundles/jquery-slicknav/js")
                    @Scripts.Render("~/bundles/owl-carousel/js")
                    @Scripts.Render("~/bundles/main/js")
                    @Scripts.Render("~/bundles/bootstrap/js")
</body>
</html>