@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Web.Optimization
@model IEnumerable<MRSUTW.Models.User>
<!DOCTYPE html>

<html>
<body>
     <div class="team-section">
          <div class="container">

               <div class="row">
                    <div class="col-lg-12">
                         <section class="breadcrumb-section set-bg" data-setbg="./../../img/breadcrumb-bg.jpg">
                              <div class="team-title">
                                   <div class="section-title">
                                        <span>OUR TEAM</span>
                                        <h2>TRAIN WITH EXPERTS</h2>
                                   </div>
                              </div>
                         </section>
                    </div>
               </div>
               <div class="row">
                    <div class="ts-slider owl-carousel owl-loaded owl-drag">
                         <div class="owl-stage-outer">
                              <div class="owl-stage" style="transform: translate3d(-585px, 0px, 0px); transition: all 1.2s ease 0s; width: 1171px;">
                                   @foreach (var u in Model)
                                   {
                                        <div class="owl-item" style="width: 97.556px;">
                                             <div class="col-lg-4">
                                                  <div class="ts-item set-bg" data-setbg="./../../img/team/team-1.jpg" style="background-image: url(&quot;./../../img/team/team-1.jpg&quot;);">
                                                       <div class="ts_text">
                                                            <a href="@Url.Action("Index", "ProfileTrainer", new {id = u.ID})">
                                                                 <h4>@u.Username</h4>
                                                                 <span>Gym Trainer, @u.Age years</span>
                                                            </a>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                   }
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     @Scripts.Render("~/bundles/jquery-3.3.1/js")
     @Scripts.Render("~/bundles/jquery.magnific-popup/js")
     @Scripts.Render("~/bundles/masonry-pkgd/js")
     @Scripts.Render("~/bundles/jquery-barfiller/js")
     @Scripts.Render("~/bundles/jquery-slicknav/js")
     @Scripts.Render("~/bundles/owl-carousel/js")
     @Scripts.Render("~/bundles/main/js")
     @Scripts.Render("~/bundles/bootstrap/js")
</body>
</html>
